# Game Service
GAMES_PORT=4001
GAMES_DB_URL=postgresql://crash:crash@localhost:5432/games
GAMES_USE_IN_MEMORY=0
RABBITMQ_URL=amqp://crash:crash@localhost:5672
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=crash-game
KEYCLOAK_CLIENT_ID=crash-game-client

# Wallet Service
WALLETS_PORT=4002
WALLETS_DB_URL=postgresql://crash:crash@localhost:5432/wallets
RABBITMQ_URL=amqp://crash:crash@localhost:5672
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=crash-game
KEYCLOAK_CLIENT_ID=crash-game-client
